<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="thumbnail pizza-card">
        <img src="<%= pizza.icon %>">
        <div class="caption">
            <h3><%= pizza.title %></h3>
            <p class="type"><%= pizza.type %></p>
            <p class="topping"><%= getIngredientsArray(pizza).join(", ") %></p>
            <% if (pizza.big_size && pizza.small_size) { %>
            <div class="row">
                <div class="col-xs-12 col-sm-6 small-pizza">
                    <p class="size-weight">
                        <img src="assets/images/size-icon.svg"><%= pizza.small_size.size%><br>
                        <img src="assets/images/weight.svg"><%= pizza.small_size.weight%>
                    </p>
                    <h4 class="price"><%= pizza.small_size.price%></h4>
                    грн.<br>
                    <span class="btn btn-warning small-button">Купити</span>
                </div>
                <div class="col-xs-12 col-sm-6 big-pizza">
                    <p class="size-weight">
                        <img src="assets/images/size-icon.svg"><%= pizza.big_size.size%><br>
                        <img src="assets/images/weight.svg"><%= pizza.big_size.weight%>
                    </p>
                    <h4 class="price"><%= pizza.big_size.price%></h4>
                    грн.<br>
                    <span class="btn btn-warning big-button">Купити</span>
                </div>
            </div>
            <% } else if (pizza.big_size) { %>
            <div class="row">
                <div class="col-xs-12 col-sm-12 big-pizza">
                    <p class="size-weight">
                        <img src="assets/images/size-icon.svg"><%= pizza.big_size.size%><br>
                        <img src="assets/images/weight.svg"><%= pizza.big_size.weight%>
                    </p>
                    <h4 class="price"><%= pizza.big_size.price%></h4>
                    грн.<br>
                    <span class="btn btn-warning big-button">Купити</span>
                </div>
            </div>
            <% } else { %>
            <div class="row">
                <div class="col-xs-12 col-sm-12 small-pizza">
                    <p class="size-weight">
                        <img src="assets/images/size-icon.svg"><%= pizza.small_size.size%><br>
                        <img src="assets/images/weight.svg"><%= pizza.small_size.weight%>
                    </p>
                    <h4 class="price"><%= pizza.small_size.price%></h4>
                    грн.<br>
                    <span class="btn btn-warning small-button">Купити</span>
                </div>
            </div>
            <% } %>

        </div>
        <% if (pizza.is_new) { %>
        <span class="label label-danger new-pizza">Нова</span>
        <% } else if (pizza.is_popular) { %>
        <span class="label label-success popular">Популярна</span>
        <% } %>
    </div>
</div>