<div>
    <div class="pizzaZam">
    <div class="namePizza"><%= pizza.title %> (<%= size %>)</div>
        <div class="diamAndWeight">
        <img class="imgDiam styleOfBlock marg" src="assets/images/size-icon.svg">
        <div class="diam styleOfBlock"><%= pizza[size].size %></div>
        <img class="imgWeight styleOfBlock marg" src="assets/images/weight.svg">
        <div class="weight styleOfBlock"><%=  pizza[size].weight %></div>
    </div>
    <img class="halfPizza" src="<%= pizza.icon %>">
    <div class="changeAmount">
    <span class="price marg "><%=  pizza[size].price %></span>
    <button class="button minus marg ">-</button>
    <span class="amountOfPizzas marg"><%= quantity %></span>
    <button class="button plus marg">+</button>
    <button class="button delete marg">x</button>
    </div>
    </div>
</div>